@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.image-auto {
  width: auto;
  height: auto;
}

@layer base {
  img {
    width: auto;
    height: auto;
  }
}
